body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 200vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    font-size: 25px;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    margin-left:-5px;
}

aside h3 {
    font-weight: bold;
    margin-top: 50px;
    font-size: 30px;
}
aside ul{list-style: none}
aside ul li {
    color : #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}
aside ul li:hover, aside al a:hover {
    color: #ffff00;
    text-decoration: underline;
    transform: scale(1.05);
}

main .features{
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}
main .features h1 {font-size:50px; font-weight: bold;}
main .features h2 {font-size:35px; font-weight: bold; margin: 20px 10px;}
main .features h3 {font-size:35px; font-weight: bold; margin: 20px 10px;}
main .features p {font-size:25px; max-width: 100%; margin: 20px 10px;}
main .features a {float: right; }

.button-select{
    font-size: 35px;
    width: 150px;
    margin: 20px 45%;
    list-style: none;
}

.alert-warning{
    float: left;
    clear: both;
    width: 70%;
    margin: 20px 15%;
    text-align: left;
}

.alert-full{
    float: left;
    clear: both;
    width: 80%;
    margin: 20px 10%;
    text-align: left;
}

form {
    margin-left: 15%;
    width: 1000px;
    margin-top: 50px;
}

.btn-group button {
background-color: #4CAF50; /* Green background */
border: 1px solid green; /* Green border */
color: white; /* White text */
padding: 10px 24px; /* Some padding */
cursor: pointer; /* Pointer/hand icon */
float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
content: "";
clear: both;
display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
background-color: #3e8e41;
}