{% extends 'main/layout.html' %}

{% block title %}Забронировать{% endblock %}

{% block content %}
   <div class="features">
       <h1>Забронировать </h1>
       <form method="post">
           {% csrf_token %}
           {{ form.name }}<br>
           {{ form.phone }}<br>
           <button class="btn btn-success" type="submit">Забронировать</button>
       </form>
   </div>
{% endblock %}