{% extends 'main/layout.html' %}

{% block title %}Расписание{% endblock %}

{% block content %}
    <div class="features">
       <h1>Квест Зомби</h1>
            <div class="alert alert-warning">
                {% for el in quest %}
                        <div class="btn btn-warning">
                            <a href="{% url 'book' %}" class="btn btn-warning">{{el.time}}</a><br>
                            <a href="{% url 'book' %}" class="btn btn-warning">{{el.sum}}р</a>
                        </div>
                {% endfor %}
            </div>
   </div>
{% endblock %}}