{% extends 'main/layout.html' %}

{% block title %}Квесты{% endblock %}

{% block content %}
   <div class="features">
       <h1>Квесты</h1>
           {% for el in quest %}
                <div class="alert alert-warning">
                    <h3>{{el.title}}</h3>
                    <p>Сложность: {{el.rate}}/5</p>
                    <p>{{el.full_text}}</p>
                    <a href="{% url 'timetable' %}" class="btn btn-warning">Смотреть расписание</a>
                </div>
           {% endfor %}
   </div>
{% endblock %}