{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
   <div class="features">
       <h1>Про нас</h1>
       <div class="alert alert-warning">
            <p>Наш телефон: +79028579463</p>
            <p>Наша почта: kvestomans@quest.ru</p>
            <p>Наш адрес: г.Екатеринбург, ул.Краснофлотцев, 34 </p>
       </div>
       <a class = 'button-select' href="{% url 'quest' %}"><li><button class="btn  btn-warning">Выбрать квест!</button></li></a><br><br>
   </div>
{% endblock %}