{% extends 'main/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
   <div class="features">
       <h1>{{ article.title }}</h1>
       <div class="alert alert-warning">
       <p>{{ article.date }}</p>
       <p>{{ article.full_text }}</p>
       </div>
   </div>
{% endblock %}}