{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel = "stylesheet" href="{% static 'main/css/main.css'%}">
    <link rel = "stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside>

        <span class="logo">Квестоманы</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home'%}"><li><i class="fas fa-home"></i> Главная</li></a>
            <a href="{% url 'quest'%}"><li><i class="fas fa-question-circle"></i> Квесты</li></a>
            <a href="{% url 'reviews'%}"><li><i class="fas fa-binoculars"></i> Отзывы</li></a>
            <a href="{% url 'about'%}"><li><i class="fas fa-id-card-alt"></i> Контакты</li></a>
            <a href="{% url 'create_review' %}"><li><button class="btn  btn-warning"><i class="fas fa-plus-circle"></i> Добавить отзыв</button></li></a>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}`
    </main>
</body>
</html>