{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
   <div class="features">
       <h1>Квестоманы</h1>
       <h2>Немного о нас</h2>
       <div class="alert alert-warning">
       <p>Мы компания, специализирующаяся на приключениях, адреналалине и позитивных эмоциях!
           Думаешь, что ты самый умный, сильный или смелый? Тогда тебе к нам!
           Присоединяйся к нашей большой семье и попробуй на вкус самые разные сюжеты,
           спецэффекты и почувствуй себя частью удивительно интересной истории!</p>
       </div>
       <a class = 'button-select' href="{% url 'quest' %}"><li><button class="btn  btn-warning">Выбрать квест</button></li></a><br><br>
       <h2>Новости о наших квестах</h2>
        {% if news %}
           {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{el.title}}</h3>
                    <p>{{el.anons}}</p>
                    <a href="{% url 'new_detail' pk=el.id %}" class="btn btn-warning">Читать детальнее</a>
                </div>

           {% endfor %}
       {% else %}
            <p>Пока у нас нет новостей</p>
       {% endif %}
   </div>
{% endblock %}