{% extends 'main/layout.html' %}

{% block title %}Добавьте свой отзыв{% endblock %}

{% block content %}
   <div class="features">
       <h1>Добавьте свой отзыв</h1>
       <form method="post">
           {% csrf_token %}
           {{ form.title }}<br>
           {{ form.rate }}<br>
           {{ form.full_text }}<br>
           {{ form.date }}<br>
           <span>{{ error }}</span>
           <button class="btn btn-warning" type="submit">Добавить отзыв</button>
       </form>
   </div>
{% endblock %}