{% extends 'main/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
   <div class="features">
       <h1>{{ article.title }}  {{ article.rate }}/10</h1>
       <div class="alert alert-warning">
       <p>Дата посещения: {{ article.date.date }}</p>
       <p>{{ article.full_text }}</p>
       </div>
   </div>
{% endblock %}