{% extends 'main/layout.html' %}

{% block title %}Отзывы{% endblock %}

{% block content %}
   <div class="features">
       <h1>Отзывы</h1>
       {% if reviews %}
           {% for el in reviews %}
                <div class="alert alert-warning">
                    <h3>{{el.title}}</h3>
                    <p>{{el.rate}}/10</p>
                    <p>{{el.full_text}}</p>
                    <a href="{% url 'reviews_detail' pk=el.id %}" class="btn btn-warning">Читать детальнее</a>
                </div>
           {% endfor %}
       {% else %}
            <p>Пока нет отзывов</p>
       {% endif %}
   </div>
{% endblock %}